._header {
  height: 56px;
  padding: 0px 20px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    img {
      width: 32px;
      border-radius: 50%;
    }
  }
  .logo {
    font-family: $logo-font;
    letter-spacing: 10px;
    font-weight: 800;
    font-size: 20px;
    width: 200px;
  }
  .menu-container {
    display: flex;
    z-index: 1;
    border-bottom: 1px solid #ececec;
    .dropdown {
      height: 56px;
      display: flex;
      color: #000000;
      .btn {
        display: flex;
        align-items: center;
        cursor: default;
        font-size: 16px;
        padding: 0 15px;
        border-bottom: 2px solid #ffffff;
        transition: border-bottom 100ms ease-in-out;
        transition-delay: 100ms;
        &:hover {
          border-bottom: 2px solid #000000;
        }
      }
    }
  }
}
