//Font Style
$logo-font: "Orbitron", sans-serif;

//Font Color
$fnt-primary-color: #000000;

//Background Color
$bg-color: #ffffff;
$bg-header-color: #ffffff;

//Button Color
$btn-h-active-color: #333333;
$btn-h-hover-color: #272727;
$btn-h-active-hover: #474747;
$btn-b-hover-color: #353535;
